# This is a basic workflow to help you get started with Actions

name: PushToFeature
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: DEV
   # Jobs to be executed
jobs:
    action-pull-request:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout repoistory
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run the Action
        uses: devops-infra/action-pull-request@v0.4.2
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_SCOPED_TOKEN }}
        with:
            github_token: ${{ secrets.REPO_SCOPED_TOKEN }}
            source_branch: DEV
            target_branch: master
            title: Automated pull request
            template: .github/PULL_REQUEST_TEMPLATE.md
            body: "**Automated pull request**"                           
            get_diff: true         